asgiref==3.2.10
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.2
coreapi==2.3.3
coreschema==0.0.4
cryptography
defusedxml==0.7.0
Django==2.2.20
django-cors-headers==3.6.0
django-templated-mail==1.1.1
djangorestframework==3.10.2
djangorestframework-simplejwt==4.3.0
djoser==2.1.0
idna==2.8
itypes==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
oauthlib==3.1.0
Pillow
pycparser==2.19
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==4.0.0
social-auth-core==4.0.2
sqlparse==0.3.0
uritemplate==0.6
urllib3==1.25.5
